name: Catalog Service

on:
  push:
    paths:
      - order-service/**
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      working-dir: ./order-service
    defaults:
      run:
        working-directory: ${{ env.working-dir }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: ./mvnw -ntp verify

      - if: ${{github.ref == 'refs/heads/main' }}
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - if: ${{github.ref == 'refs/heads/main' }}
        name: Build and Publish Docker Image
        run: |
            ./mvnw spring-boot:build-image -DskipTests
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/bookstore-order-service
